/* Error: expected "{".
 *     ,
 * 257 | >>>>>>> 92b13aec57e9f090a7895c93a97e2be7a5c229d8
 *     |                                                 ^
 *     '
 *   sass\_section.scss 257:49  @use
 *   sass\main.scss 3:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 257 \2502  >>>>>>> 92b13aec57e9f090a7895c93a97e2be7a5c229d8\d\a     \2502                                                  ^\a     \2575 \a   sass\\_section.scss 257:49  @use\a   sass\\main.scss 3:1         root stylesheet';
}
