header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    transition: var(--transition);
    padding: 20px 10px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        > span {
            font-size: 30px;
            color: #00AEEF;
            font-weight: 700;
        }

        ul {
            display: flex;
            gap: 30px;
            list-style: none;

            li {
                text-transform: capitalize;
            }
        }
    }
}