
@use "header";
@use "section";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: ease-in 0.2s;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: 1440px) {
        max-width: 1440px;
    }
}