// Используем модули (Dart Sass)
@use "header";
@use "section";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; // Обязательно для правильных размеров
}

body {
    transition: ease-in 0.2s;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
    background-color: #c2ddff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}