* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

@import "header.scss"; 
@import "footer.scss";

body {
    transition: opacity ease-in 0.2s;
    line-height: 1.6;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
